{% extends "templates/base.html" %}
{% block content %}
  <div x-data="agenciaForm()">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <div class="card-header">
          {{ title }}
        </div>
        <div class="card-body">
          <div
            class="">
            {# <form @submit.prevent="submitForm"> #}
            <form>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" x-model="form.nome" required></div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="endereco">Endereço</label>
                <input type="text" class="form-control" id="endereco" x-model="form.endereco" required></div>
                <div class="form-group col-md-6">
                  <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" x-model="form.telefone" required></div>
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                <input type="email" class="form-control" id="email" x-model="form.email" required></div>
                <div class="form-group col-md-6">
                  <label for="orcamento">Orçamento</label>
                  <input type="number" class="form-control" step="0.01" id="orcamento" x-model="form.orcamento" required></div>
                  <div class="form-group col-md-6">
                    <label for="data_criacao">Data de Criação</label>
                    <input type="date" class="form-control" id="data_criacao" x-model="form.data_criacao" required></div>
                    <button type="button" @click="insertForm()" class="btn btn-primary mt-4">Salvar</button>
                    <a href="/agencias/manutAgencias" class="btn btn-info mt-4 ml-2" role="button" aria-disabled="true">Retornar</a>
                  </form>
                  <div class="mt-3">
                    <template x-if="message">
                      <div :class="messageClass" x-text="message"></div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          window.onload = function () {
            windowOnLoad();
            // @ Caso tenha dado erro no servidor frontEnd, ele será mostrado aqui.
            const localErro = "{{ erro }}";
            if (localErro != "") {
              alert("[vwAgencias|onload]Servidor retornou o erro:" + localErro);
            }
            $("#prontuario").focus();
          };
          function agenciaForm() {
            return {
              form: {
                nome: '',
                email: '',
                telefone: '',
                endereco: '',
                orcamento: '',
                data_criacao: '',
                deleted: false
              },
              message: '',
              messageClass: '',
              async insertForm() {
                try {
                  console.log("Valor na página:", JSON.stringify(this.form))
                  const response = await fetch('/agencias/insertAgencias', {
                    method: 'POST',
                    headers: {
                      "Content-Type": "application/json"
                    },
                    body: JSON.stringify(this.form)
                  });
                  const result = await response.json();
                  console.log("Valor na response:", response);
                  console.log("Valor na result:", result);
                  if (result.status == "ok") {
                    alert("Agencia cadastrado com suscesso");
                    this.resetForm();
                  } else {
                    const errorData = result.status;
                    this.message = `Erro! Não foi possível cadastrar o agencia devido ao erro: ${errorData}`;
                    this.messageClass = 'alert alert-danger';
                  }
                } catch (error) {
                  this.message = `Erro de conexão: ${
                    error.message
                  }`;
                  this.messageClass = 'alert alert-danger';
                }
              },
              resetForm() {
                this.form = {
                  telefone: '',
                  nome: '',
                  email: '',
                  endereco: '',
                  orcamento: '',
                  data_criacao: '',
                  deleted: false
                };
                this.message = false;
              }
            };
          }
        </script>
      {% endblock %}